@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* General page styles */ 
body {
    background-color: rgb(221, 184, 255);
    font-family: "Shadows Into Light", serif;
}
p {
    color: orchid;
}

/* TIP: put images in <div class='centered'> container in your HTML document */
.centered {
    text-align: center;
    margin: auto;
}
