/* Custom font imports */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* General styles for the whole page */
body {
    background-color: rgb(236, 216, 255);
    font-family: "Shadows Into Light", cursive;
}

h2 {
    background-color: white;
    color: rebeccapurple;
}

img {
    border-radius: 10px;
}

